<fieldset [formGroupName]='formGroupName'>
  <legend>Bill</legend>
  <input
    placeholder="Street"
    formControlName="street"
  />
  <nested-error-msg
    [form]="form"
    [list]="validations['street']"
    [type]="'bill.street'"
  />
  <input
    placeholder="City"
    formControlName="city"
  />
  <nested-error-msg
    [form]="form"
    [list]="validations['city']"
    [type]="'bill.city'"
  />
  <input
    placeholder="Zip"
    formControlName="zip"
  />
  <nested-error-msg
    [form]="form"
    [list]="validations['zip']"
    [type]="'bill.zip'"
  />
</fieldset>