<fieldset [formGroupName]="formGroupName">
  <legend>Address</legend>
  <input
    placeholder="Street"
    formControlName="street"
  />
  <nested-error-msg
    [form]="form"
    [list]="validations['street']"
    [type]="'address.street'"
  />
  <input
    placeholder="City"
    formControlName="city"
  />
  <nested-error-msg
    [form]="form"
    [list]="validations['city']"
    [type]="'address.city'"
  />
  <input
    placeholder="Zip"
    formControlName="zip"
  />
  <nested-error-msg
    [form]="form"
    [list]="validations['zip']"
    [type]="'address.zip'"
  />
</fieldset>
